doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.css")
    title='Elegir chat'
  body 
    header
      h1='Chat de Dune'
      section(class='selectChatSection')
        form(action="./chat" method='GET' class='selectChatForm')
          label(for="selectChat")='Seleccionar la casa'
          select(name="selectChat", id='selectChat') 
            option(value='Atreides')='Atreides'
            option(value='Harkonnen')='Harkonnen'
            option(value='Fremmen')='Fremmen'
          input(type="submit", value="Button")
    script(src="/socket.io/socket.io.js") 
    script(src="../js/selectChat.js") 